[Unit]
Description=PPPd for 4G bongle
After=mysql.service postgresql.service network-online.target

[Service]
# Run daemon as root user
ExecStart=/bin/sh -c "cd /etc/ppp/peers/ && pppd call %i-ppp"
Type=simple
User=root
Group=root

[Install]
WantedBy=multi-user.target